*{
	margin: 50px;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: sans-serif;
	background:
    linear-gradient(#ced3d4, transparent 1px),
    linear-gradient(90deg, #ced3d4, transparent 1px);
  	background-size: 10px 10px;
  	background-position: center;
}

 .wrapper{
 	width: 980px;
 	margin: auto;
}

header{
	margin: 20px 30px 30px 30px;
}

 .color {
	color: #28c7ea;
}

nav, footer{
	background-image: linear-gradient(#575858, #262727);
	color: #fff;
	border: 1px solid #1d1e1e;
}

nav {
	color: #fff;
	padding: 10px;
}

nav > ul > li {
	list-style-type: none;
	display: inline;
	margin: 20px;
}

nav li:hover a{
	color: #28c7ea;
}

nav a {
	color: #fff;
	text-decoration: none;
}

h1, h2 {
	color: #373838;
	font-weight: normal;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 22px;
}

.size {
	font-size: 16px;
}

article {
	background-color: #fff;
	padding: 20px 20px 40px 30px;
	margin: 20px 0;
}

article p {
	color: #373838;
	font-size: 12px;
	line-height: 1.5;
	padding: 20px 0px 10px;
}

a {
	color: #28c7ea;
}

footer{
	text-align: center;
	padding: 20px;
	vertical-align: super;
}

footer a {
	color: #fff;
	text-decoration: none;
}



